<html>
  <head>
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Italianno' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="vendors/jquery-ui/css/ui-lightness/jquery-ui-1.9.2.custom.min.css" />
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Cherry+Swash:700,400' rel='stylesheet' type='text/css'>
  </head>
  <body data-helpOpen="false">
    <div class="loader">

      <span><span class="icon"></span><span class="text">loading ...</span></span>
    </div>
    <div class="helpWindow hidden">
      <div class="windowHeader"></div>
      <div class="mainText">
        <span> Welcome stranger!</span>
        <span> I present you an interactive visualization of the travels and adventures of Frodo Baggings and his colleagues on the lands of the middle-heart. Just press play and watch, or use the timeline to check any time point</span>
        <span> This visualization can be synched with the film, so you can play it on your tablet or laptop while you see the movie, keeping track of the whereabouts of the main characters every minute!</span>
      </div>
      <div class="attribution">
        <span class="icon"></span> by <a href="http://twitter.com/johnhackworth" target="_blank">@johnhackworth</a>

        <span class="icon"></span> fork it on <a href="https://github.com/johnHackworth/middle-earth" target="_blank">github</a>
      </div>
      <a href="#closePopUp" id="closePopUp">Close me</a>
    </div>
    <div id="options">
      <div id="controls">
        <div id="flowControl">
          <div class="line">
            <a id="prevRound"></a>
            <a id="stop" class="hidden"></a>
            <a id="autoPlay" class="playControl"></a>
            <a id="nextRound"></a>
          </div>
          <div class="line">

          </div>
        </div>

        <div id="variables">
          <div class="variable">
            <a href="#switch" id="movieSynch" class="switch disabled">
              <span class="handle"></span>
            </a><span class="optionLabel">Synch with movie</span>
          </div>
          <div class="variable">
            <a href="#switch" id="geopolitical" class="switch disabled">
              <span class="handle"></span>
            </a><span class="optionLabel">Show places</span>
          </div>
          <div class="variable">
            <a href="#help" id="help">
              <span class="help"></span>
              <span class="optionLabel">Help</span>
            </a>
          </div>
        </div>

      </div>


      <div id="handle">

      </div>

    </div>
    <div id='middleEarth'></div>
    <div id="vizTitle"><p>The Fellowship of the ring</p></div>

    <div class="time">
      <div id="timeline"></div>
      <div class="timeLegend">
        <div class="origin"> </div>
        <div id="date"></div>
        <div class="end"></div>
      </div>
    </div>
    <script src="http://libs.cartocdn.com/cartodb.js/v2/cartodb.js"></script>
    <script src="vendors/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="app/lotr.js"></script>
    <script src="app/infowindows.js"></script>
    <script type="text/template" id="infoTemplate">
      <div class="cartodb-popup dark">
        <a href="#close" class="cartodb-popup-close-button close">x</a>
         <div class="cartodb-popup-content-wrapper">
           <div class="cartodb-popup-cont">
            <% if(content && content.fields) { %>
              <div class="imgCont"><img src="./img/<%= content.fields[1].value%>.jpg" /></div>
              <h4><%= content.fields[1].value%></h4>
              <p><%= content.fields[2].value%></p>
            <% } %>
           </div>
         </div>
         <div class="cartodb-popup-tip-container"></div>
      </div>
    </script>
    <script type="text/template" id="infoTemplatePlace">
      <div class="cartodb-popup dark places">
        <a href="#close" class="cartodb-popup-close-button close">x</a>
         <div class="cartodb-popup-content-wrapper">
           <div class="cartodb-popup-cont">
            <% if(content && content.fields) { %>

              <h4><%= content.fields[1].value%></h4>
              <p><%= content.fields[2].value%></p>
              <div class="imgCont"><img src="./img/places/<%= content.fields[1].value%>.jpg" /></div>
            <% } %>
           </div>
         </div>
         <div class="cartodb-popup-tip-container"></div>
      </div>
    </script>
    </div>
  </body>

</html>
