@font-face {
  font-family: 'icon';
  src: url('./fontawesome-webfont.eot');
  src: url('./fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fontawesome-webfont.woff') format('woff'),
  url('./fontawesome-webfont.ttf') format('truetype'),
  url('./fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ring';
  src:  url('./RINGM___.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {padding: 0; margin: 0;}
a {text-decoration: none}
.hidden {
  display:none;
}
.icon {
  font-family: 'icon';
}
#options {
  background: 25px 10% no-repeat url('../img/mellon.png');
  background-opacity: 0.5;
  width: 210px;
  float: left;
  background-color: #333;
  display: block;
  height: 100%;
  z-index: 999;
  position:fixed;
  padding-right: 0px;
  padding-left: 20px;
  left:0px;
  box-shadow: 3px 0 10px #221100;
  margin: 0;
  -webkit-transition: left 0.3s linear;
  -moz-transition: left 0.3s linear;
  -o-transition: left 0.3s linear;
  transition: left 0.3s linear;
}
#options.replegated {
  left: -180px;
}
#options #handle {
  background-color: #AA8855;
  background-image: url("../img/text2.jpg");
  border: 2px solid #222222;
  border-radius: 15px 15px 15px 15px;
  float: right;
  height: 20%;
  margin: 5px;
  position: absolute;
  right: 5px;
  top: 35%;
  width: 20px;
  cursor: pointer;
}
#middleEarth {
  width: 100%;
  height:100%;
  background: white;
}

.slide {
  margin: 10px;
}

#controls {
  bottom: 50px;
  position: absolute;
  width:160px;
}
#flowControl {
  height: 130px;
}

#flowControl .line {
  display: inline-block;
  width:100%;
  min-height:30px;
  text-align: center;
  margin:5px 0;
}

#flowControl a {
  font-family: "icon";
  color: #111;
  height:50px;
  font-size:50px;
  margin:12.5px 0px 20px;
  cursor: pointer;
}

#flowControl a:hover {
  color: #994;
}

#flowControl a#autoPlay {
  font-family: "icon";
  height:75px;
  margin-top: 0;
  font-size:75px;
  color: #e1e1e1;
}

#flowControl a#stop {
  position: relative;
  top: 12.5px;
  color: #999;
}

#prevRound {
  float: left;
}
#nextRound {
  float: right;
}

.time {
  position: fixed;
  bottom: 0;
  width: 60%;
  padding: 14px 20%;
  /*background-color: #edb;*/
  /*opacity:0.7;*/
}

#timeline {
  width: 100%;
  margin:0px 0% 10px;
  border:1.5px solid #631;
  background-color: transparent;
  background-image: none;
  border-radius: 1px;
  height: 0px;

}

.timeLegend {
  width:100%;
  display: inline-block;
  text-align: center;
}

.timeLegend div {
  font-size: 25px;
  color: #663311;
  font-family: 'Italianno', cursive;
}

.timeLegend .origin {
  float: left;
}
.timeLegend .end {
  float: right;
}

#date {
  color: #555500;
  display: inline;
  font-family: 'Italianno',cursive;
  font-size: 25px;
  text-shadow: 0 0 4px gold
}

#vizTitle {
  position:fixed;
  top: 0;
  font-size: 15px;
  width:100%;
  text-align:center;
}

#vizTitle p {
  background-color: #EDB;
  display: inline-block;
  padding: 10px;
  font-family: 'Italianno', cursive;
  font-size: 25px;
  color: #000;
  opacity: 0.80;
  text-shadow: 0px 0px 3px #553;
  border-radius: 5px;
  border: 1px solid #AAA;
  width: 70%;
}


.ui-slider a.ui-slider-handle {
  background-color:  #663311;;
  border: 1px solid #663311;;
  width: 20px;
  border-radius:20px;
  height: 20px;
  font-size: 1px;
  top: -10px ;
  cursor: pointer;

}

.ui-slider-horizontal {
  height: 2px;
}

input[type="checkbox"] {
  padding:5px;
  border: 0;
  border-radius: 4px;
}

.switch, .form_switch {
    border: 1px solid #44759E;
    border-radius: 12px 12px 12px 12px;
    display: inline-block;
    font-size: 0;
    height: 15px;
    line-height: 0;
    position: relative;
    text-decoration: none;
    text-indent: -9999px;
    text-transform: capitalize;
    transition-duration: 180ms;
    transition-property: background;
    vertical-align: middle;
    width: 29px;
}
.switch:before, .form_switch:before {
    background: linear-gradient(rgba(0, 0, 0, 0.18), transparent) repeat scroll 0 0 transparent;
    border-radius: 12px 12px 12px 12px;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.switch span.handle, .form_switch span.handle {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #44759E;
    border-radius: 12px 12px 12px 12px;
    height: 11px;
    left: 15px;
    position: absolute;
    top: 1px;
    transition-duration: 180ms;
    transition-property: left;
    width: 11px;
    z-index: 2;
}
.switch.enabled, .form_switch.enabled {
    background: none repeat scroll 0 0 #56AFEF;
    border-color: #44759E;
}
.switch.enabled span.handle, .form_switch.enabled span.handle {
    border-color: #44759E;
    left: 15px;
}
.switch.disabled, .form_switch.disabled {
    background: none repeat scroll 0 0 #D8D8D8;
    border-color: #CCCCCC;
    opacity: 1;
}
.switch.disabled span.handle, .form_switch.disabled span.handle {
    border-color: #999999;
    left: 2px;
}
.switch:hover, .form_switch:hover {
    cursor: pointer !important;
}
.switch.working, .form_switch.working {
    opacity: 0.5;
}
.switch.working:hover, .form_switch.working:hover {
    cursor: default !important;
}

.optionLabel {
  color: #999;
  position: relative;
  top: 2px;
  margin: 0px 0 0 5px;
  font-family: 'Italianno', cursive;
  font-size: 24px;
}

div.cartodb-popup-cont {
  max-height: 200px;

}
div.cartodb-popup.places {
  width: 320px;
  max-height: 400px;
  background: black;
  border-radius: 10px;
}

div.cartodb-popup.places div.cartodb-popup-content-wrapper {
  max-width: 290px !important;
  width: 290px;
}
div.cartodb-popup.places div.cartodb-popup-cont {
  max-height: 400px;
}


span.help {
  color: #CCCCCC;
  cursor: pointer;
  font-family: 'icon';
  font-size: 24px;
  margin-left: 12px;
  position: relative;
  top: 3px;
}

div.cartodb-popup .imgCont {
  width:218px;
  height:150px;
  position: absolute;
  top: -4px;
  left: 4px;
  border-radius: 5px 0;
  overflow: hidden;
}
div.cartodb-popup.places .imgCont {
  width:300px;
  position: relative;
  top. 0;
  left: -8px;
}
div.cartodb-popup img {
  width: 218;
}

div.cartodb-popup.places img {
  width: 300;
}

div.cartodb-popup.dark h4 {
  position: absolute;
  top:90px;
  color: #eee;
  font-size: 25px;
  font-family: verdana;
  text-shadow: 0px 0px 2px #111;
  text-transform: capitalize;
  font-family: 'Cherry Swash', cursive;
}

div.cartodb-popup.dark.places h4 {
  top:0;
  position: relative;
  font-family: ring, verdana;
  text-transform: lowercase;
  font-size: 20px;
  width: 100%;
}
div.cartodb-popup p {
  margin-top: 130px;
  margin-bottom: 10px;
  max-height: 100px;
  overflow-y: scroll;
}


div.cartodb-popup.places p {
  margin-top: 0;
  margin-bottom: 4em;
  max-height: 100px;
  max-width: 290px;
  overflow-y: scroll;
  width: 290px;
  position: relative;
  top: 1em;
}

div.helpWindow {
  font-family: 'Italianno', cursive;
  font-size: 40px;
  color: #421;
  background: url(../img/paperback.jpg);
  border: 1px solid #421;
  border-radius: 5px;
  display: block;
  max-height: 50%;
  left: 20%;
  padding: 5%;
  position: fixed;
  top: 10%;
  width: 50%;
  z-index: 2147483647;
  box-shadow: 3px 10px 15px #666;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  -webkit-transition: top 0.5s linear;
  -moz-transition: top 0.5s linear;
  -o-transition: top 0.5s linear;
  transition: top 0.5s linear;
  opacity: 0.95;
}

div.mainText {
  display: inline-block;
  margin-bottom: 1em;
}
div.helpWindow.hidden {
  opacity:0;
  top: -3000px;
}

div.helpWindow .windowHeader {
  background: url("../img/friend-lite.png") no-repeat scroll center top transparent;
  display: block;
  float: left;
  height: 84px;
  margin-top: -55px;
  opacity: 0.3;
  position: relative;
  width: 100%;
}

div.helpWindow h1 {
  font-size: 25px;
  width:100%;
  float: left;
  text-align: center;
}
div.helpWindow .mainText span {
  font-size: 16px;
  font-family: 'ring';
  width: 100%;
  float: left;
}

div.helpWindow #closePopUp {
  border: 1px solid #421;
  padding: 3px 10px;
  border-radius: 2px;
  color: #431;
  font-size: 20px;
  position: absolute;
  bottom: 1em;
  right: 20px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
}

div.helpWindow .attribution {
  position: absolute;
  bottom: 1em;
  left: 60px;
  font-size: 22px;
  color: #631;
  font-family: italianno, ring;
}

div.helpWindow .attribution a {
  color: #421;
  margin-right: 2em;
}

#closePopUp {
  font-family: ring;
}
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999999999;
  background-color: #EDB;
  font-family: 'Italianno', cursive;
  font-size: 40px;
}

.loader span {
  display: inline-block;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loader .icon  {
  animation-name: spin;
  animation-duration: 4000ms; /* 40 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader .text {
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 461px) and (max-width : 900px){
  #vizTitle p {
    padding: 4px;
    font-size: 15px;
    text-shadow: 0px 0px 1px #553;
    border-radius: 3px;
    font-family: 'Italianno', cursive;
    width: 80%;
    left:15%;
  }

  .end, .origin {
    display: none;
  }

  #date {
    font-size: 15px;
  }

  .ui-slider a.ui-slider-handle {
    background-color:  #663311;;
    background-image: none;
    border: 1px solid #663311;;
    width: 20px;
    height: 30px;
    font-size: 1px;
    top: -15px ;
    cursor: pointer;
  }
  #timeline {
    height: 10px;
  }
  #options {
    width: 45%;
    background: center center no-repeat #333 url('../img/mellon.png');
    padding: 0;
    padding-left: 5%;
  }
  #options.replegated {
    left: -45%;
  }
  #controls {
    width: 70%;
  }
  #flowControl {
    height: 80px;
  }
  div.helpWindow {
    height: 90%;
    left: 0%;
    padding: 5%;
    width:90%;
    position: fixed;
    top: 0%;
  }

  div.helpWindow span {
    font-size: 20px !important;
  }

  div.helpWindow .attribution {
    position: absolute;
    bottom: 2em;
    left: 60px;
    font-size: 22px;
    color: #631;
  }

  div.helpWindow #closePopUp {
    padding: 3px 10px;
    font-size: 25px;
    right: 20px;
    bottom: 2em;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 460px) {
  #vizTitle p {
    width: 76%;
    left:15%;
  }


  .end, .origin {
    display: none;
  }

  #date {
    font-size: 15px;
  }

  .ui-slider a.ui-slider-handle {
    background-color:  #663311;;
    border: 1px solid #663311;;
    background-image: none;
    width: 20px;
    height: 30px;
    font-size: 1px;
    top: -15px ;
    cursor: pointer;
  }

  #timeline {
    height: 10px;
  }

  #options {
    width: 95%;
    background: center center no-repeat #333 url('../img/mellon.png');
    padding: 0;
    padding-left: 5%;
  }
  #options.replegated {
    left: -90%;
  }
  #controls {
    width: 80%;
  }

  #flowControl {
    height: 190px;
  }

  #flowControl a#autoPlay {
    height: 130px;
    font-size:130px;
  }

  #flowControl a {
    height:80px;
    font-size:80px;
    margin:32.5px 0px 20px;
    cursor: pointer;
  }
  div.helpWindow {
    height: 90%;
    left: 0%;
    padding: 5%;
    width:90%;
    position: fixed;
    top: 0%;
  }

  div.helpWindow span {
    font-size: 20px !important;
  }

  div.helpWindow .attribution {
    bottom: 5em;
    width: 100%;
    text-align: center;
    left: 10px;
    font-size: 20px;
  }

  div.helpWindow #closePopUp {
    padding: 3px 10px;
    font-size: 25px;
    right: 40%;
  }
}

/* mobile ----------- */
@media only screen and (max-width : 599px) and (max-height: 799px){
#vizTitle {
  text-align:none;
}

#vizTitle p {
  font-size: 20px;
  width: 70%;
  margin-left:10%;
}

div.helpWindow {
  border-radius: 0;
  max-height: 90%;
  top: 0;
  left: 0%;
  width: 90%;
  padding: 5%;
}


  div.helpWindow span {
    font-size: 12px !important;
  }

}


/* table (portrait) ----------- */
@media only screen and (min-width : 461px) and (max-width : 900px) and (min-height: 799px){
  #vizTitle p {
    width: 76%;
    left:12%;
    font-size: 25px;
  }


  .end, .origin {
    display: none;
  }

  #date {
    font-size: 18px;
  }

  .ui-slider a.ui-slider-handle {
    background-color:  #663311;;
    border: 1px solid #663311;;
    background-image: none;
    width: 20px;
    height: 30px;
    font-size: 1px;
    top: -15px ;
    cursor: pointer;
  }

  #timeline {
    height: 10px;
  }
  div.helpWindow {
    height: 80%;
    left: 5%;
    padding: 5%;
    width:80%;
    position: fixed;
    top: 5%;
  }

  div.helpWindow span {
    font-size: 25px !important;
  }

  div.helpWindow .attribution {
    bottom: 6em;
    width: 100%;
    text-align: center;
    left: 10px;
    font-size: 20px;

  }

  div.helpWindow #closePopUp {
    padding: 3px 10px;
    font-size: 30px;
    right: 42%;
    bottom: 1em;
  }
}

.event {
  fill-opacity: 0.2;
}

.character {
  fill-opacity: 0.9;
  stroke-linejoin: round;
  stroke-opacity: 1;
  stroke-width: 5px;
  width: 10px;
}

.foe {
  fill-opacity: 0.9;
  stroke-linejoin: round;
  stroke-opacity: 1;
  stroke-width: 3px;
  width: 10px;
}

.army {
  fill-opacity: 0.5;
  stroke-linejoin: round;
  stroke-opacity: 1;
  stroke-width: 3px;
}

.character:hover, .foe:hover {
  stroke-width: 7px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: stroke-width 0.1s linear;
  -moz-transition: stroke-width 0.1s linear;
  -o-transition: stroke-width 0.1s linear;
  transition: stroke-width 0.1 linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3 linear;
  -webkit-transition: cx 0.3s linear;
  -moz-transition: cx 0.3s linear;
  -o-transition: cx 0.3s linear;
  transition: cx 0.3 linear;
}

.charLabel {
  fill: #162;
  opacity:0.5;
  font-size: 22px;
  font-family: 'Italianno', cursive;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: fill 0.3s linear;
  -moz-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3 linear;
}

.leaflet-map-pane:hover .charLabel {
  opacity: 0.8;
}

.charLabel:hover {
  opacity: 1;
  font-weight: bold;
  fill: #321;
}

.charLabel.zoom4 {
  font-size: 14px;
}

.charLabel.zoom5 {
  font-size: 22px;
}

.charLabel.zoom6 {
  font-size: 30px;
}

.charLabel.zoom7 {
  font-size: 38px;
}

.charLabel.zoom8 {
  font-size: 46px;
}

/* popups*/
.leaflet-popup-content-wrapper {
  width: 210px;
  background-color: #222;
  overflow: hidden;
  color: #FFF;
}

.leaflet-popup-content {
  margin: 14px 5px;
}

.leaflet-popup-content-wrapper .imgCont{
  left: -21px;
  overflow: hidden;
  position: relative;
  top: -15px;
  width: 228px;
  border-radius: 10px 10px 0 0;
}

.leaflet-popup-content-wrapper .imgCont img {
  width: 100%;
}

.leaflet-popup-tip-container {
  position: relative;
  top: -2px;
}

.leaflet-popup-tip {
  background: #222;
}

.leaflet-container a.leaflet-popup-close-button {
  z-index: 3;
}

.leaflet-container h4 {
  position: absolute;
  top:100px;
  height: 1em;
  text-overflow: ellipsis;
  color: #eee;
  font-size: 18px;
  text-shadow: 0px 0px 2px #111;
  text-transform: capitalize;
  font-family: 'ring', verdana;
  margin: 0;
}

.leaflet-container p {
  max-height: 100px;
  overflow-y: scroll;
  margin: 18px 0 -20px;
  position: relative;
  top: -20px;
}
